<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="Content/bootstrap.min.css">
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>p

    <script src="Scripts/built/app.js"></script>
    <script src="Scripts/built/controllers/aoSelectionDialogController.js"></script>
	<script src="Scripts/built/controllers/fracregControllers.js"></script>
	<script src="Scripts/built/controllers/feedbackControllers.js"></script>
	<script src="Scripts/built/directives.js"></script>
	<script src="Scripts/built/services.js"></script>
</head>
<body ng-app>
	@RenderBody()
</body>
</html>

